:root{
  /* --bg-secondary : #2D4356 ;
  --bg-primary: #27374D;
  --border-color: #202c3c;
   */ 
   --bg-primary: 	#90C67C;
   --bg-secondary: #FEFDED;
   --text-color: #585858;
}


.account-main{
    padding: 2rem;
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.account-info{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.account-rs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    height: 100%; 
    align-items: flex-start;
}

.account-ls img {
    height: 200px;
}

.account-stats {
    width: 100%;
    height: 100%;
    padding: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlight-green{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.highlight-green > * {
    background-color: var(--bg-primary);
    padding: .5rem 1rem;
    border-radius: 8px;
}

.highlight-green a{
    display: flex;
    align-items: center;
}

.logout-btn{
    cursor: pointer;
}