@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
  /* --bg-secondary : #2D4356 ;
  --bg-primary: #27374D;
  --border-color: #202c3c;
   */ 
   --bg-primary: 	#90C67C;
   --bg-secondary: #FEFDED;
   --text-color: #585858;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--bg-primary);
}

h1 {
  font-weight: 200;
  font-size: 2rem;
}

h2 {
  font-weight: 100;
}

a{
  color: currentColor;
  text-decoration: none;
}

select {
  background-color: var(--bg-primary);
  padding: .4rem;
  border: none;
  border-radius: 8px;
}

ul {
  list-style-type: none;
}

section.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-main {
  background-color: var(--bg-primary);
  padding: 2rem;
  min-height: 40%;
  min-width: 60%;
  border-radius: 12px;
  color: var(---text-color);
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;

}

.form-main .ls{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-main .rs img{
  max-height: 300px;
  border-radius: 12px;
}

.btns-main{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.btns-main button{
  background-color: var(--bg-secondary);
  padding: .5rem 1rem;
  color: var(---text-color);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

button:hover{
  transform: scale(1.1);
}

.form-main input{
  background-color: var(--bg-secondary);
  padding: .5rem 1rem;
  color: var(---text-color);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  font-size: 1rem;
}

.input-main{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.input-container > div:nth-child(even){
  text-align: right;
}

img.icon{
  height: 30px;
}