:root{
  /* --bg-secondary : #2D4356 ;
  --bg-primary: #27374D;
  --border-color: #202c3c;
   */ 
   --bg-primary: 	#90C67C;
   --bg-secondary: #FEFDED;
   --text-color: #585858;
}

.landing{
    background-color: var(--bg-secondary);
}

.landing nav {
    background-color: var(--bg-primary);
    z-index: 2;
}

.landing-header{
    background-color: var(--bg-primary);
}

.hero{
    display: flex;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    align-items: center;
    height: 30vh;
}

.hero img {
    height: 300px;
}


.hero h1 {
    font-size: 3rem;
    font-weight: 450;
}

.how-to{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.howtocontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.howtocontainer > div {
    padding: 1rem;
    background-color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 12px;
}

.howtocontainer h2 {
    color: var(--bg-secondary);

}

.features{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-container{
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.feature-container img {
    height: 300px;
    border-radius: 12px;
    border: 1px solid var(--bg-primary);
}

.feature-container .feature-ls{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feature-ls > * {
    transition: all ease-in-out 300ms;
}

.feature-container .feature-rs {
     position: relative;
}

.feature-container .feature-rs img{
    position: absolute;
    transition: all ease-in-out 300ms;
}

.feature-container .feature-rs img:not(:last-child):hover{
    transform: translate(2rem, -2rem);
}

footer{
    padding: 2rem;
    text-align: center;
}